.editor-top-bar{
    box-sizing: border-box;
    padding: 0 7px 7px 7px;
    border-bottom: 1px solid #e9ecef;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editor-top-title{
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editor-top-title-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}
.info-icon{
    font-size: 20px;
    color: #3491fa !important;
    cursor: pointer;
}
.sync-icon,.star-icon,.history-icon{
    font-size: 20px;
    cursor: pointer;
    color: #57606a !important;
}

.sync-icon{
    cursor: default;
}

.star-icon-filled{
    font-size: 20px;
    cursor: pointer;
    color:#eac54f !important;
}

.tags-container{
    margin: 10px 0;
}