.editor-top-bar{
    box-sizing: border-box;
    padding: 0 7px 7px 7px;
    border-bottom: 1px solid #e9ecef;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editor-top-title{
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.info-icon{
    font-size: 20px;
    color: #3491fa !important;
    cursor: pointer;
    margin-left: 5px;
}
.star-icon{
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    color: #57606a !important;
}

.star-icon-filled{
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    color:#eac54f !important;
}

.tags-container{
    margin: 10px 0;
}