.mini__editor__container::-webkit-scrollbar {
         width: 6px;
     }

.mini__editor__container::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

.mini__editor__container::-webkit-scrollbar-thumb {
    background: #40a0ff49;
    border-radius: 10px;
}

.mini__editor__container::-webkit-scrollbar-thumb:hover {
    background: #40a0ff;
}