.avatar {
    object-fit: cover;
    cursor: pointer;
}
.sidebar-top{
    height: 150px;
    text-align: left;
}

.func__areas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 110px);
}

.languages__area {
    height: 30%;
}

.languages__area__title,
.pinned__area__title,
.tags__area__title {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    user-select: none;
}

.pinned__area {
    height: 30%;
}

.tags__area {
    height: 30%;
}

.tag-card{
    text-align: left;
    margin: 5px 5px;
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color: black;
}

.info-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0;
}

.info-title{
    color: gray;
    width: 100px;
}

.info-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    cursor: pointer;
}
.sidebar__area{
    height: 33%;
}

.sidebar__area__title{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    user-select: none;
    position: relative;
    cursor:  pointer;
}

.sidebar__area__title__text{
    margin-left: 5px;
}
.arrow-con{
    position: absolute;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;

}

.arrow-con:hover{
    background-color: #e9ecef;
}

.Sidebar-top-con{
    box-sizing: border-box;
    padding: 15px;
}
.Sidebar-top-avatar{
    margin-bottom: 15px;
}

.Sidebar-top-new-snippet{
    cursor: pointer;
    margin: 15px 0;
}

.Sidebar-top-new-snippet span{
    margin: 10px 10px;
}

.arco-btn-text:not(.arco-btn-disabled):not(.arco-btn-loading):hover{
    background-color: transparent!important;
}