.content-card{
    background-color: #fff;
    box-sizing: border-box;
    padding: 7px ;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}
.content-card-title{
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.content-card-description{
    font-size: 13px;
    color: #000;
}