.content-card{
    background-color: #fff;
    box-sizing: border-box;
    padding: 7px ;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    transition: 0.2s;
}
.content-card:hover{
    background-color: #f2f2f2;
}
.content-card-active{
    background-color: #f2f2f2;
}

.content-card-title{
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.content-card-description{
    font-size: 13px;
    color: #000;
}

.content-cards-container{
    overflow-y: auto;
    height: calc(100% - 32px);
}


.content-cards-container::-webkit-scrollbar {
    width: 4px;
}

.content-cards-container::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

.content-cards-container::-webkit-scrollbar-thumb {
    background: #40a0ff49;
    border-radius: 10px;
}

.content-cards-container::-webkit-scrollbar-thumb:hover {
    background: #40a0ff;
}

.search-bar{
    width: calc(100% - 32px)!important; ;
}

.content_top_area_con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}