body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 150px;
  height: 100%;
  background-color: aqua;
  text-align: center;
}

.content__area {
  width: 350px;
  height: 100%;
  background-color: greenyellow;
}

.editor {
  width: calc(100% - 400px);
  height: 100%;
  background-color: yellow;
}