body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*overflow-y: hidden;*/
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: aqua;
  text-align: center;
  user-select: none;
}

.content__area {
  width: 350px;
  height: 100%;
  /*background-color: greenyellow;*/
  background-color: white;
}


.editor {
  width: calc(100% - 450px);
  height: 100%;
  /*background-color: yellow;*/
  background-color: white;
}


.languages__area__con{
  height: 100%;
  overflow-y: auto;
}

.sidebar__area__items__con{
  height: calc(100% - 21px);
  overflow-y: auto;
}



.scrollbar-4px::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-4px::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

.scrollbar-4px::-webkit-scrollbar-thumb {
  background: #40a0ff49;
  border-radius: 10px;
}

.scrollbar-4px::-webkit-scrollbar-thumb:hover {
  background: #40a0ff;
}